/* Float Read more right */
.list-inline>li.node-readmore, 
.node-readmore {
  width: 100%;
  clear: both;
}
.node-readmore a {
  text-decoration: none;
  display: block;
  float: right;
}
.more-icon-link,
.more-link {
  width: 100%;
  clear: both;
  text-align: right;
}
.more-link a {
  \* display: block; */
}

