/* Float Read more right */
.node-readmore {
  width: 100%;
  clear: both;
  float: right;
  display: block;
  margin-bottom: 1em;
}
.node-readmore a {
  text-decoration: none;
}
.more-icon-link,
.more-link {
  width: 100%;
  clear: both;
  text-align: right;
}
.more-link a {
  \* display: block; */
}

